{% extends "base.html" %}

{% block title %}Drew's Blog{% endblock title %}


{% block content %}


<ul class="footer-list">
  <li><p class="p-small"><a href="/">About</a></p></li>
  <li><p class="p-small"><a href="/projects/">Projects</a></p></li>
  <li><p class="p-small"><a class="undl" href="/blog/">Blog</a></p></li>
</ul>

<hr id="toprule-small">


<ul>
{% for post in posts %}
  <li class="blog-list">
    <h3 class="listed"><a href="{{ post.meta.slug[0] }}">{{ post.meta.title[0] }}</a></h3>
    <div class="post-date">{{ post.meta.date[0] }}</div>
    <p class="marbo post-info">{{ post.meta.description[0] }}</p>
  </li>
{% endfor %}
</ul>


{% endblock content %}