{% extends "base.html" %}

{% block title %}Drew Rygh | Python Developer - Madison WI{% endblock title %}

{% block content %}

<ul class="footer-list">
  <li><p class="p-small"><a class="undl" href="/">About</a></p></li>
  <li><p class="p-small"><a href="/projects/">Projects</a></p></li>
  <li><p class="p-small"><a href="/blog/">Blog</a></p></li>
</ul>

<hr id="toprule-small">

<article class="marbo2">
  <div class="header-text">Hi! I'm Drew.</div>
  <p class="marbo">I'm a software engineer currently living in Madison, WI.
  In the past, I worked at <a href="http://www.drifty.com">Drifty</a> on the <a href="http://www.ionicframework.com">Ionic</a> team.
  I attend the <a href="http://www.wisc.edu/">University of Wisconsin</a> where I'm studying computer science.
  Have a project you need developed? Just want to talk? Don't hesitate to <a href="mailto:hello@drewrygh.com">reach out</a> to me!
  </p>
</article>

{% endblock content %}