{% extends "base.html" %}

{% block title %}Drew Rygh | Software Developer - Madison WI{% endblock title %}

{% block content %}

<ul class="footer-list">
  <li><p class="p-small"><a class="undl" href="/">About</a></p></li>
  <li><p class="p-small"><a href="/projects/">Projects</a></p></li>
  <li><p class="p-small"><a href="/blog/">Blog</a></p></li>
</ul>

<hr id="toprule-small">

<article class="marbo2">
  <img class="self" src="{{ url_for('static', filename='img/drewrygh.jpg') }}">
  <div class="header-text">Drew Rygh</div>
  <p class="about">Developer at <a href="http://ionicframework.com">Ionic</a>. Studying computer science and philosophy at <a href="http://www.wisc.edu/">Madison</a>.</p>
</article>

{% endblock content %}
