{% extends "base.html" %}

{% block title %}About | Drew Rygh{% endblock title %}

{% block content %}

<ul class="footer-list">
  <li><p class="p-small"><a class="undl" href="/">About</a></p></li>
  <li><p class="p-small"><a href="/blog/">Blog</a></p></li>
</ul>

<hr id="toprule-small">

<article class="marbo2">
  <div class="header-text">Hi! I'm Drew.</div>
  <p class="marbo">I'm a developer living in San Mateo, CA.
  Currently I'm working on <a href="https://fitspot.io">FitSpot</a>, a fitness startup I've recently co-founded. I also attend the <a href="http://www.wisc.edu/">University of Wisconsin</a> where I'm studying computer science part-time.</p>
</article>

<article class="marbo2">
  <div class="header-text">About This Site</div>
  <p class="marbo">I love to learn new things. Writing about what I've learned helps me structure my thoughts and gives me a good chance to reflect on things. I plan to mostly write about programming, tech, and startups. The site is built on <a href="http://flask.pocoo.org/" title="Flask Python Framework">Flask</a> — you can view the code on <a href="https://github.com/drewrygh/drewrygh.com">GitHub</a>.
  </p> 
</article>

{% endblock content %}