{% extends "base.html" %}

{% block title %}Resume | Drew Rygh{% endblock title %}

{% block content %}

<ul class="footer-list">
  <li><p class="p-small"><a class="undl" href="/">About</a></p></li>
  <li><p class="p-small"><a href="/blog/">Blog</a></p></li>
</ul>

<hr id="toprule-small">

<span>
  <h1 class="resume">Drew Rygh</h1>
  <h5 class="resume">Web Developer</h5>
</span>

<div class="contact_row">
  <span class="contact_item">1521 Lago Street, San Mateo, CA 94403</span>
  <span class="contact_item">262-412-9640</span>
  <span class="contact_item">drew.rygh@gmail.com</span>
</div>

<div class="sec_header">Experience</div>
<span class="sec_title">Developer &amp; Co-Founder</span>
<span class="sec_company">fitspot.io - previously groupclass.com</span>
<div class="sec_from">December 2013 - April 2014</div>

<p class="sec_p">Prototyped a large Django app based on user feedback. Architected the application structure which included two types of user accounts. Users could post workouts, specify
location, capacity, cost, and additional information. Other users could sign up for a workout,
and receive status updates on the event. Implemented a payment system using Stripe's API.
Responsible for a number of business operations, such as talking with users and partners, analyzing user
feedback, setting up AdWords campaigns, and testing conversion rates on various call-to-actions.
</p>

<ul class="sec_list">
  <li>Planned and executed both the frontend and backend for the entire application on a short time frame.</li>
  <li>Built a robust payment system off of Stripe's API that processed credit card payments, sent monthly balance updates, and sent payouts to user's checking accounts.</li>
  <li>Developed a workout filter/navigation feature aimed at increasing conversion rate.</li>
  <li>Built an interactive map with AngularJS and Google Maps API, which displayed the locations of workouts, cost of the
  workout, and additional information.</li>
  <li>Helped execute a pivot which helped pushed the business in a new direction, while maintaining and reusing a
  large portion of the code base.</li>
</ul>

<div class="sec_header">Front-End Technologies</div>
<ul class="sec_list">
  <li>HTML5 &amp; SASS/Compass</li>
  <li>Zurb Foundation</li>
  <li>AngularJS</li>
  <li>jQuery &amp; vanilla Javascript</li>
</ul>

<div class="sec_header">Back-End Technologies</div>
<ul class="sec_list">
  <li>Python</li>
  <li>Frameworks: Django, Flask</li>
  <li>Databases: Postgres, redis</li>
  <li>Linux command line / development environment</li>
  <li>git</li>
  <li>Automated deployments with Ansible</li>
  <li>Services: Heroku, Amazon S3, Digital Ocean, GitHub</li>
  <li>Very basic experience with the following languages: C, C++, Java, Go, Bash</li>
</ul>

<div class="sec_header">Side Projects</div>
<span class="sec_company">racquetmonster.com</span>
<p class="sec_p">
A tennis news aggregator. Developed a flexible architecture that can be reused for nearly any niche. Built with Django and AngularJS;
automated deployments with Ansible. REST API built with Django REST Framework.
</p>
<span class="sec_company">fitspot-pi</span>
<p class="sec_p">
A Raspberry Pi powered check-in device for gyms, built as an unofficial prototype while working
on fitspot.io. The device scanned barcode keychains containing a member's ID, and pinged an API
endpoint which signaled a check-in for that user.
</p>

<div class="sec_header">Education</div>
<div class="sec_title">Bachelor of Science - Computer Science</div>
<div class="sec_title">University of Wisconsin - Madison, WI</div>

<div class="sec_company">
  <span>3.3 cumulative GPA</span>
  <span>(expected graduation: 2016)</span>
  <div>previous: Drake University: Des Moines, IA</div>
</div>



{% endblock content %}